.header {
    position: relative;
    z-index: 10;
    background-color: #fff;
    color: $black_2;
    .level_1 {
        > a {
            color: white;
            &::after {
                background-image: url('../../images/icons/chevron_down_w.svg');
            }
        }
    }
    .img_white {
        display: none;
    }
    .img_black {
        display: inline;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
    }
    .header__menu, .header__signin, .header__tbb {
        display: none;
    }
    .search_open, .mobile_menu_open, .mobile_menu_close {
        @extend .reset_button_appearance;
    }
    .search_open, .search_close {
        display: inline-block;
        background-color: transparent;
        box-shadow: none;
        width: 4rem;
        height: 4rem;
        background-size: 3rem;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .search_open {
        background-image: url('../../images/icons/search_b.svg');
    }
    .search_close {
        background-image: url('../../images/icons/cross_b.svg');
    }
    .header__search {
        margin-left: auto;
    }
    .header__signin {
        color: $black_2;
    }
    .header__account {
        margin-left: 1rem;
    }
    .mobile_menu_open {
        background-color: transparent;
        box-shadow: none;
        margin-left: 1.5rem;
    }
    &.header-transparent {
        background-color: transparent;
        .header__homelink {
            .logo_white {
                display: inline;
            }
            .logo_black {
                display: none;
            }
        }
        .level_1 {
            > a {
                color: white;
                &::after {
                    background-image: url('../../images/icons/chevron_down_w.svg');
                }
            }
        }
        .search_open {
            background-image: url('../../images/icons/search_w.svg');
        }
        .header__signin {
            color: white;
        }
        .button_contrast {
            background-color: white;
            color: $black_2;
            &:hover {
                background-color: darken(white, 10%);
                color: $black_2;
            }
        }
        .img_white {
            display: inline;
        }
        .img_black {
            display: none;
        }
    }
    .header__search_form {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 10;
        min-height: 9.7rem;
        .form_top {
            padding: 2.8rem 2rem;
            display: flex;
            align-items: stretch;
        }
        [type="search"] {
            flex: 1;
            border: none;
            font-size: 2rem;
            margin-left: 1rem;
        }
        [type="submit"] {
            flex: 0 0 3rem;
            font-size: 0;
            @extend .reset_button_appearance;
            display: inline-block;
            background-color: transparent;
            box-shadow: none;
            width: 4rem;
            height: 4rem;
            background-size: 3rem;
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url('../../images/icons/search_b.svg');
        }
        &.active {
            display: block;
        }
    }
    @include tablet {
        .header__tbb {
            display: flex;
            margin-left: 1rem;
        }
        .mobile_menu_open {
            margin-left: 2rem;
        }
        .header__search_form {
            top: 100%;
            left: 25%;
            right: 25%;
        }
    }
    @include desktop {
        .level_1 {
            > a {
                color: $black_2;
                &::after {
                    background-image: url('../../images/icons/chevron_down_b.svg');
                }
            }
        }
        .container {
            padding: 1rem 2rem;
        }
        .mobile_menu_open {
            display: none;
        } 
        .header__tbb {
            display: flex;
            margin-left: 1rem;
        }
        .header__signin  {
            display: block;
            text-decoration: none;
            margin: 0 1rem;
            font-weight: 500;
        }
        .header__menu {
            display: flex;
            color: white;
        }
        .header__homelink {
            padding: 1rem 0 2rem;
            img {
                width: 18.5rem;
            }
        }
        .header__search_form {
            top: 100%;
            left: calc(50vw - 28rem);
            right: calc(50vw - 28rem);
        }
    }
}

.header__menu {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        &.has_children.level_1 {
            > a {
                &::after {
                    content: '';
                    display: inline-block;
                    width: 2rem;
                    height: 2rem;
                    margin-left: .5rem;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    a {
        color: inherit;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 500;
        display: flex;
    }
    @include smaller-than-desktop {
        animation-duration: 0.5s;
        animation-name: show_menu;
        padding: 16rem 0 2rem;
        &.active {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 20;
            background-color: $black_2;
            color: white;
            animation-direction: alternate;
        }
        .mobile_menu_close {
            background-color: transparent;
            position: absolute;
            top: 3.5rem;
            right: 2.5rem;
        }
        .level_1 {
            display: block;
            border-bottom: 1px solid $white_tr;
            &:last-child {
                border-bottom: none;
            }
            > a {
                font-weight: 500;
                font-size: 2.7rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &.has_children.active {
                >a {
                    &::after {
                        transform: rotate(180deg);
                    }
                }
            }
        }
        .has_children {
            > ul {
                display: none;
            }
            &.active {
                ul {
                    display: block;
                }
            }
        }
        li {
            width: 100%;
            display: block;
            padding: 2rem 3rem 2rem 2rem;
        }
        .submenu_1, .submenu_2 {
            li {
                padding-left: 0;
            }
        }
        .submenu_1 {
            padding-top: 1rem;
            > li {
                padding: 1.5rem 2rem 1.5rem 0; 
               > a {
                   font-size: 1.8rem;
                   font-weight: 600;
                   font-feature-settings: 'ss02' on;
               } 
            }
        }
        .submenu_2 {
            padding-top: 0.5rem;
            > li {
               padding: 1rem 2rem 1rem 0; 
               > a {
                   font-size: 1.4rem;
                   font-weight: 400;
                   font-feature-settings: 'ss02' on;
               } 
            }
        }
        .header_menu_buttons {
            padding: 4rem 2rem;
            .btn {
                justify-content: center;
                margin-bottom: 1rem;
            }
        }
    }
    @include desktop {
        .top_menu {
            display: flex;
            align-items: center;
            margin-left: 3rem;
            li {
                padding: .5rem 1rem;
            }
            a {
                white-space: nowrap;
            }
        }
        .submenu_1, .submenu_2 {
            display: none;
        }
        .header_menu_buttons {
            display: none;
        }
        .level_1.has_children.active {
            position: relative;
            .submenu_1, .submenu_2 {
                display: block;
                min-width: 24rem;
                > li {
                    padding: 0;
                }
            }
            .submenu_1 {
                position: absolute;
                top: 140%;
                left: 0;
                background-color: $black_2;
                border-radius: .8rem;
                &.long_list {
                    column-count: 2;
                    column-gap: 0;
                    column-rule: 1px solid $white_tr;
                    > li {
                        display: inline-block;
                        width: 100%;
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: -.5rem;
                    left: 6rem;
                    display: inline-block;
                    width: 0;
                    height: 0;
                    border-left: .5rem solid transparent;
                    border-right: .5rem solid transparent;
                    border-bottom: .5rem solid $black_2;
                }
                > li {
                    border-bottom: 1px solid $white_tr;
                    &:last-child {
                        border-bottom: none;
                    }
                     > a {
                         padding: 2rem 4rem;
                         font-feature-settings: 'ss02' on;
                    }
                    &.has_children {
                        > a {
                            padding-bottom: 0.5rem;
                        }
                    }
                }
            }
            .submenu_2 {
                padding-bottom: 2rem;
                > li {
                    > a {
                        padding: .3rem 4rem;
                        font-weight: 400;
                        font-size: 1.5rem;
                        font-feature-settings: 'ss02' on;
                    }
                }
            }
        }
    }
}

@keyframes show_menu {
    from { max-height: 0; }
    to { max-height: 200vh; }
}

.footer {
    border-top: 1px solid $black_tr;
    padding-bottom: 4rem;
    .container {
        padding: 0;
    }
    a {
        transition: transform .2s;
        &:hover {
            transform: scale(1.05);
            filter: drop-shadow(0 0 10px #333);
        }
    }
    ul {
        list-style: none;
        padding: 0 0;
        margin: 0 0;
    }
    .footer__menu_wrap {
        margin-bottom: 4rem;
        padding: 5rem 2rem;
        border-bottom: 1px solid $black_tr;
    }
    .footer__menu_block {
        text-align: center;
        margin-bottom: 2rem;
        a {
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 1.4;
            text-decoration: none;
            display: inline-block;
            margin-bottom: 1rem;
        }
    }
    .footer__block_header {
        font-size: 1.5rem;
        font-weight: 600;
        color: $red;
        margin: 0 0 2rem;
    }
    .social {
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                font-size: 0;
                display: inline-block;
                width: 3.5rem;
                height: 3.5rem;
                margin: 0 .5rem;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                &[href*='facebook'] {
                    background-image: url('../../images/icons/facebook_b.svg');
                }
                &[href*='twitter'] {
                    background-image: url('../../images/icons/twitter_b.svg');
                }
                &[href*='linkedin'] {
                    background-image: url('../../images/icons/linkedin_b.svg');
                }
                &[href*='youtube'] {
                    background-image: url('../../images/icons/youtube_b.svg');
                }
                &[href*='instagram'] {
                    background-image: url('../../images/icons/instagram_b.svg');
                }
            }
        }
    }
    .footer__bottom {
        text-align: center;
    }
    .footer__bottom_menu {
        ul {
            margin-bottom: 2rem;
            padding: 0 0;
        }
        li {
            display: inline-block;
            padding: .2rem 0;
            font-size: 1.5rem;
            margin: 0 1rem;
            border-bottom: 1px solid $black_2;
            a {
                color: $black_2;
                text-decoration: none;
                display: inline-block;
            }
        }
    }
    .footer__copyright {
        padding: 0 2rem 2rem;
        font-size: 1.2rem;
        line-height: 2rem;
        opacity: .5;
        br {
            display: none;
        }
    }
    @include bigger-than-mobile {
        .footer__menu_wrap {
            display: flex;
            flex-wrap: wrap;
        }
        .footer__menu_block {
            text-align: left;
            flex: 0 0 50%;
            padding-left: 7rem;
            &.footer__logo_block {
                flex-basis: 100%;
                padding-left: 3rem;
                margin-bottom: 4rem;
            }
        }
        .social {
            ul {
                justify-content: flex-start;
                a {
                    vertical-align: top;
                }
            }
        }
        .footer__bottom {
            padding: 0 9rem;
            text-align: left;
        }
        .footer__bottom_menu {
            li {
                margin-left: 0;
                margin-right: 2rem;
                font-size: 1.3rem;
            }
        }
        .footer__copyright {
            padding-left: 0;
            font-size: 1.3rem;
            br {
                display: inline-block;
            }
        }
    }
    @include desktop {
        .container {
            padding: 0 1.5rem;
        }
        .footer__menu_wrap {
            flex-wrap: nowrap;
            padding: 10rem 0 4rem;
            border-bottom: none;
        }
        .footer__menu_block {
            flex: 0 0 20%;
            padding-left: 0;
            &.footer__logo_block {
                flex-basis: 20%;
                padding-left: 0;
                margin-bottom: 0;
            }
        }
        .footer__bottom {
            border-top: 1px solid $black_tr;
            .container {
                padding: 6rem 1.5rem 2rem;
                display: flex;
                justify-content: space-between;
            }
        }
        .footer__copyright {
            text-align: right;
        }
        .footer__bottom_menu a, .footer__copyright {
            font-size: 1.5rem;
            line-height: 3rem;
        }
        .footer__bottom_menu {
            a {
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}

.homepage_top {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-image: url("../../images/general/home_header.jpg");
    margin-top: -10rem;
    z-index: 1;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: -moz-linear-gradient(top, rgba(0,0,0,1) 0% , rgba(0,0,0,0) 24%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0% ,rgba(0,0,0,0) 24%);
        background: linear-gradient(to bottom, rgba(0,0,0,1) 0% ,rgba(0,0,0,0) 24%);
    }
    @include desktop {
        margin-top: -12rem;
    }
}
